<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>

        <!-- File Appender for all logs -->
        <File name="File" fileName="logs/test_execution.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>

        <!-- File Appender for error logs only -->
        <File name="ErrorFile" fileName="logs/test_errors.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
        </File>

        <!-- Rolling File Appender -->
        <RollingFile name="RollingFile" fileName="logs/test_rolling.log"
                     filePattern="logs/test-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10M" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Logger for com.hydra package -->
        <Logger name="com.hydra" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
            <AppenderRef ref="ErrorFile" />
            <AppenderRef ref="RollingFile" />
        </Logger>

        <!-- Logger for Selenium -->
        <Logger name="org.openqa.selenium" level="info" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Logger>

        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
            <AppenderRef ref="RollingFile" />
        </Root>
    </Loggers>
</Configuration>
